/* Small Reset */
*::before, *::after, * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Typography */ 

@font-face {
  font-family: 'Lato';
  src: url('fonts/Lato/Lato-Regular.ttf');
}

@font-face {
  font-family: 'Catamaran';
  src: url('fonts/Catamaran/Catamaran-VariableFont_wght.ttf');
}

body {
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Catamaran', sans-serif;
}

h1{
  font-weight: 800;
}

h2, h3, h4 {
  font-weight: 300;
}

/* Navigation */

nav {
  display: flex;
  justify-content: space-around;
  background: #222222d6;
  padding: 1.5rem 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

nav > ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}

nav a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

nav > ul a { 
  color: #bbb;
}

nav > ul a:hover { 
  color: #fff;
}

/* Header */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14rem 0;
}

header h1 {
  font-family: monospace;
  font-size: 8rem;
}